<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet' href='css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    body
        .container 
            .header-content
                div.header-text BitBot
            .main-content
                h3.trade-info-text Place Order
                   .down-arrow
                form.trade-form(action="/trade" method='POST')
                    .radio-group
                        input(type='radio' id='order-option-limit' name='tradeType' checked='checked' value='Limit')
                        label(for='order-option-limit' id='order-option-limit-text' class='order-option') Limit 
                        input(type='radio' value='Market' id='order-option-market' name='tradeType')
                        label(for='order-option-market' class='order-option') Market 
                        input(type='radio' value='Stop' id='order-option-sMarket' name='tradeType')
                        label(for='order-option-sMarket' class='order-option') S. Market 
                        input(type='radio' value='StopLimit' id='order-option-sLimit' name='tradeType')
                        label(for='order-option-sLimit' class='order-option') S. Limit
                    .form-input
                        label(for='input-quantity') Quantity:
                        input(type='text' name='quantity' id='input-quantity' placeholder='USD')
                        .input-limit-price
                            label(for='limit-price' class='limit-price') Limit Price:
                            input(type='text' class='limit-price' name='limitPrice' id='limit-price' placeholder='USD')
                        .input-StopLimit-price(style='display:none')
                            label(for='stop-limit-price' class='Slimit-price') Stop Price:
                            input(type='text' class='stop-limit-price' name='stopPrice' id='stop-limit-price' placeholder='USD')
                    .buy-sell-btn
                        input(type='radio' value='Buy' id='buy-btn' name='buySell' checked='checked')
                        label(for='buy-btn' class='buy-btn-text' style='animation:pulse 1500ms infinite;border-bottom: 3px solid rgb(51, 58, 82);') Buy / Long 
                        input(type='radio' value='Sell' id='sell-btn' name='buySell')
                        label(for='sell-btn' class='sell-btn-text') Sell / Short
                    .leverage-text Leverage:
                    .form-leverage 
                        select(name='slctLeverage' id='slct-leverage')
                            option Leverage
                            option(value='0') Cross
                            option(value='1') 1x
                            option(value='2') 2x
                            option(value='3') 3x
                            option(value='5') 5x
                            option(value='10' selected='selected') 10x
                            option(value='25') 25x
                            option(value='50') 50x
                            option(value='100') 100x
                    .balance-info 
                        span Market Price: #{price}
                        span Coin: #{coin}
                        span Available Balance:
                    button(class='send-btn-buy send-btn') Buy
                        script.
                            const orderOptionLimit=document.querySelector('#order-option-limit');
                            const orderOptionMarket=document.querySelector('#order-option-market');
                            const orderOptionSmarket=document.querySelector('#order-option-sMarket');
                            const orderOptionSlimit=document.querySelector('#order-option-sLimit');
                            const InputStopLimitPrice = document.querySelector('.input-StopLimit-price')

                            const buyBtn = document.querySelector('#buy-btn');
                            const sellBtn = document.querySelector('#sell-btn');

                            const buyBtnText = document.querySelector('.buy-btn-text');
                            const sellBtnText = document.querySelector('.sell-btn-text')

                            const sendBtn = document.querySelector('.send-btn')


                            const checkOrder = ()=>{
                                if(orderOptionMarket.checked == true){
                                    document.querySelector('.input-limit-price').style.display = 'none';
                                    
                                }else{
                                    document.querySelector('.input-limit-price').style.display = 'flex';
                                }
                                if(orderOptionSlimit.checked == true){
                                    InputStopLimitPrice.style.display = 'flex';
                                }else{
                                    InputStopLimitPrice.style.display = 'none';
                                }
                                 if(orderOptionSmarket.checked == true){
                                     document.querySelector('.input-limit-price').style.display = 'none';
                                     InputStopLimitPrice.style.display = 'flex';
                                }else{
                                    document.querySelector('.input-limit-price').style.display = 'flex';
                                    InputStopLimitPrice.style.display = 'none';
                                    if(orderOptionSmarket.checked == false && document.querySelector('#order-option-limit').checked == false){
                                        InputStopLimitPrice.style.display = 'flex';
                                    }
                                    if(orderOptionMarket.checked == true){
                                        document.querySelector('.input-limit-price').style.display = 'none';
                                    }
                                }
                                if(orderOptionMarket.checked == true){
                                    InputStopLimitPrice.style.display = 'none';
                                }
                            }
                            const buySellBtn = ()=>{
                                if(buyBtn.checked == true){
                                    buyBtnText.setAttribute('style', 'background-color:rgb(0, 151, 50);animation:pulse 1500ms infinite;border-bottom: 3px solid rgb(51, 58, 82);');
                                     sellBtnText.setAttribute('style', 'background-color:rgba(204, 0, 0, 0.384)');
                                     sendBtn.classList.remove('send-btn-sell')
                                     sendBtn.classList.add('send-btn-buy');
                                     sendBtn.innerHTML='Buy';
                                }else{
                                    sellBtnText.setAttribute('style', 'background-color:rgb(201, 8, 8);;animation:pulse 1500ms infinite;border-bottom: 3px solid rgb(51, 58, 82);');
                                     buyBtnText.setAttribute('style', 'background-color:rgba(1, 187, 63, 0.384)');
                                     sendBtn.classList.remove('send-btn-buy');
                                     sendBtn.classList.add('send-btn-sell');
                                      sendBtn.innerHTML='Sell';
                                }
                            }
                            buyBtn.addEventListener('click', function(){
                                buySellBtn()
                            })
                             sellBtn.addEventListener('click', function(){
                                buySellBtn()
                            })

                            orderOptionLimit.addEventListener('click', function(){
                                checkOrder()
                            })
                            orderOptionMarket.addEventListener('click', function(){
                                checkOrder()
                            })
                            orderOptionSmarket.addEventListener('click', function(){
                                checkOrder()
                            })
                            orderOptionSlimit.addEventListener('click', function(){
                               checkOrder()
                            })
                            
                                

                                